@{
    ViewBag.Title = "Contests";
}

<h2 class="page-header">@ViewBag.Title</h2>

<div class="container">
    <!--SORT CONTESTS BY:-->
    <ul id="contests-filter" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#" title="View Active Contests">Active</a>
        </li>
        <li role="presentation">
            <a href="#" title="View Past Contests">Past</a>
        </li>
        <li role="presentation">
            <a href="#" title="View All Your Contests">My Contests</a>
        </li>
        <li role="presentation">
            <a href="#" title="View All Contests">All</a>
        </li>
    </ul>

    <div class="container table">
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Date</td>
                <td>Entries</td>
            </tr>
            </thead>
            <tbody id="contests-table-body"></tbody>
        </table>
    </div>
    <div id="ajax-loader" class="text-center">
        <img src="~/Content/images/ajax-loader.gif" alt="Loading" width="64" height="64" />
    </div>
</div>

@section Scripts
{
    <script>
        $('#ajax-loader').hide();
        $(document).ready(function () {
            var isLoading = false;
            var hasMoreData = true;
            var entryCount = -1;

            if (entryCount < 0) {
                entryCount = 0;
            }

            function fetchData() {
                $('#ajax-loader').show();
                $.getJSON("Contest/GetContest", { entriesToSkip: entryCount ,filter: "active",  }, function (response) {

                    isLoading = true;

                    var tableBody = $("#contests-table-body");

                    response.forEach(function (result) {
                        if (result == null) {
                            $('#ajax-loader').hide();
                            hasMoreData = false;
                        }

                        // ROW
                        var row = $("<tr>");

                        // COLUMNS
                        var colTitle = $('<td>').text(result["Title"]);
                        var colAuthor = $('<td>').text(result["Author"]);
                        var colDate = $('<td>').text($.datepicker.formatDate('dd/mm/yy', new Date(Date(result['Date']))));
                        var colEntriesCount = $('<td>').text(result['EntriesCount']);

                        // ROW => COLS
                        row.append(colTitle)
                            .append(colAuthor)
                            .append(colDate)
                            .append(colEntriesCount);

                        // TABLE => ROW => COLS
                        tableBody.append(row);
                        $('#ajax-loader').hide();
                        isLoading = false;
                    });
                });
                entryCount += 1;
            }

            // ON LOAD
            fetchData();

            // ON SCROLLING
            $(window).scroll(function () {
                if ($(window).scrollTop() === $(document).height() - $(window).height() && !isLoading && hasMoreData) {
                    $('#ajax-loader').show();
                    fetchData();
                }
            });
        });
    </script>
}