body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*CENTER NAV BUZZ LOGO*/
.navbar-partial {
    margin-left: 6px;
    padding-top: 4px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    position: absolute;
    top: -8px;
    left: 50%;
}
/*CENTER NAV BUZZ LOGO*/

/*NAV AFTER LOGIN*/
#partial-nav {
    padding-top: 4px;
}

/*NAV ICONS BORDER BOTTOM*/
.glyphicon-envelope:hover, .glyphicon-bell:hover, .glyphicon-home:hover {
    box-shadow: 0 4px 0 0 #000;
}

/*TEXT AREA*/
.modal-content-custum {
    width: 100%;
    max-width: 100%;
    max-height: 420px;
}